{
  "cubenet": {
    "p2p": {
      "nid": "{{ pharos.validator.node_id }}",
      "host": [
        {
          "protocol": "noise_tcp",
          "ip": "0.0.0.0",
          "port": "{{ pharos.validator.ports.domain0_port }}"
        }
      ],
      "seeds": [],
      "key_passwd": "123abc",
      "private_key_file": "{{ node_prime_key_file_path }}",
      "noise_cipher_suite": {
        "dh": "X25519",
        "hash": "SHA256",
        "aead": "ChaCha20Poly1305"
      },
      "connect_direction_limit": false,
      "disable_tls_cert": false,
      "verify_node_cert": false,
      "loadcache_nodes": true,
      "enable_compress": false,
      "compress_size_limit": 1024,
      "max_message_size": 671088640,
      "cert_crl_file": "",
      "handler_thread_cnt": 64,
      "worker_thread_cnt": 32,
      "routing_options": {
        "mesh": "partial",
        "bootstrap_interval": 2000,
        "findnode_interval": 3000,
        "pingnode_interval": 5000,
        "pingnode_begin_wait": 10,
        "pingnode_wait_max_cnt": 100,
        "routing_exchange_interval": 2000,
        "routing_calculate_interval": 2000,
        "max_in_degree_nodes": 300,
        "max_out_degree_nodes": 300,
        "find_nodes_step_size": 64,
        "boot_max_nodes": 8
      },
      "broadcast_options": {
        "strategy": "spt",
        "simple": {
          "next_relay_num": 8,
          "bloom_filter_element_num": 100,
          "bloom_filter_false_positive_rate": 0.01
        },
        "spt": {}
      },
      "connection_options": {
        "heartbeat_interval": 3000,
        "connection_check_interval": 5000,
        "srtt_policy": 0
      },
      "prefer_keep_connect_seeds": true,
      "inner_worker_thread_cnt": 32
    },
    "admin": {
      "http_server": [
        {
          "status": false,
          "server_ip": "0.0.0.0",
          "server_port": 8080
        },
        {
          "status": false,
          "server_ip": "0.0.0.0",
          "server_port": 4433,
          "server_cert": "../certs/https_server.crt",
          "server_key": "../certs/https_server.key"
        }
      ]
    },
    "metrics": {
      "cetina_enable": false,
      "cetina_job_name": "cubenet_test",
      "cetina_remote_host": "metrics.antchain.dl.alipaydev.com"
    }
  }
}
