{
  "enable_pamir_cetina": true,
  "pamir_cetina_push_address": "{{ pushgateway_dns }}",
  "pamir_cetina_push_port": 9091,
  "pamir_cetina_push_interval": 5,
  "pamir_cetina_job_name": "pharos_testnet"
}
