{
  "mygrid_env": {
    "placements": [
      {
        "default": "{{ mygrid_dir.disk_path }}",
        "tier_0": "{{ mygrid_dir.disk_path }}"
      }
    ],
    "meta_store_disk": "{{ mygrid_dir.disk_path }}",
    "project_data_path": "{{ mygrid_dir.data_path }}",
    "master_lite_admin_port": {{ pharos.validator.ports.master_lite_admin_port }},
    "server_lite_admin_port": {{ pharos.validator.ports.server_lite_admin_port }}
  }
}
