{
  "log": {
    "pamir": {
      "filename": "{{ node_log_dir }}/pamir.log",
      "max_file_size": 104857600,
      "max_files": 1,
      "level": "info"
    }
  },
  "config": {
    "metrics": {
      "pamir_enable_cetina": false,
      "pamir_cetina_push_address": "prometheus-prometheus-pushgateway.prometheus-agent-namespace.svc.cluster.local",
      "pamir_cetina_push_port": 9091,
      "pamir_cetina_job_name": "mygrid_pro_job",
      "pamir_cetina_push_interval_second": 1,
      "pamir_cetina_instance_name": "mygrid_pro"
    },
    "mygrid": {
      "user_flags": {
        "letus_merkle_enable_memory_page_lru_cache": true,
        "letus_merkle_index_memory_page_lru_cache_max_size_each_db": 12884901888,
        "letus_merkle_state_tree_write_cache": false,
        "letus_merkle_state_tree_read_cache": false,
        "letus_data_dredger_scheduler_stop": false,
        "letus_enable_merge_delta": true,
        "mygrid_enable_online_admin": true
      },
      "expert_flags": {
        "letus_active_mem_index_table_max_memory_size": 67108864,
        "letus_persist_index_block_lru_cache_max_size": 8388608,
        "pamir_enable_rocksdb_metrics": true,
        "mygrid_client_enable_callback_thread_pool": true,
        "mygrid_client_network_thread_num": 16,
        "storage_kernel_bg_thread_count": 16,
        "letus_l0_index_files_size_threshold": 67108864,
        "storage_kernel_rocks_write_buffer_size": 33554432,
        "storage_kernel_rocks_max_write_buffer_number": 2,
        "storage_kernel_rocksdb_global_rate_limiter_rate_bytes_per_sec": 31457280,
        "storage_kernel_rocksdb_global_rate_limiter_mode": 2,
        "mygrid_client_open_flat_kv_cache": true,
        "mygrid_flat_cache_partition_capacity": 134217728,
        "//\u5c06Grid\u7ebf\u7a0b\u6c60\u4e0ePartition\u7ebf\u7a0b\u6c60\u5206\u5f00": "",
        "mygrid_client_grid_thread_num": 1,
        "page_release_batch_size_when_destruct_merke_mem_index": 100,
        "mygrid_master_to_server_auto_prune_period_us": 43200000000,
        "mygrid_client_open_history_kv_cache": true,
        "mygrid_history_cache_partition_capacity": 33554432,
        "mygrid_history_kv_cache_version_gap": 1000,
        "mygrid_client_history_kv_full_cache": false
      }
    }
  }
}
