{
  "mygrid_env": {
    "placements": [
      {
        "default": "/opt",
        "tier_0": "/opt"
      }
    ],
    "meta_store_disk": "/opt",
    "project_data_path": "pharos/data",
    "master_lite_admin_port": {{ pharos.validator.ports.master_lite_admin_port }},
    "server_lite_admin_port": {{ pharos.validator.ports.server_lite_admin_port }}
  }
}
