{
  "mygrid_env": {
    "//GridDB\u6570\u636e\u8def\u5f84": "grid_data_path=<placements disk group>/<project_data_path>/<subent_name>/<grid_db_name>",
    "//MetaStore\u5143\u6570\u636e\u8def\u5f84": "meta_store_path=<meta_store_disk>/<project_data_path>/meta_store",
    "placements": [
      {
        "default": "/opt",
        "tier_0": "/opt"
      }
    ],
    "meta_store_disk": "/opt",
    "project_data_path": "pharos/data",
    "master_lite_admin_port": {{ pharos.validator.ports.master_lite_admin_port }},
    "server_lite_admin_port": {{ pharos.validator.ports.server_lite_admin_port }}
  }
}
